.cardWrapper{
    composes:cardWrapper from '../../../App.module.css'
}
.bottompara{
    composes:bottompara from '../identity/Identity.module.css';
}
.actionbtnWrap{
    margin-top: 40px;
}
.resend{
    color: blue;
    cursor: pointer;
    margin-bottom: 5px;
    text-decoration: underline;
}